* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.score{
    font-size: large;
}
.game-container {
    text-align: center;
    background-color: #ff6347;
}

.game-area {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: #092c3e;
    overflow: hidden;
    border: 3px solid #352020;
    border-color: #ff6347;
}

.basket {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 25px;
    background-color: #ff6347;
}

.falling-object {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #1bdfe2;
    border-radius: 100%;
}
